<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Es posible contactarse con Milagros Mergoni escribiendo al mail milimergoni@gmail.com o @milagrosmergoni en Instagram">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="../sass/style.css">
        <script src="https://kit.fontawesome.com/2e758ba94a.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
        <title>Contacto - Milagros Mergoni Arte</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo3-04.png" class="img-fluid" width="240px" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="trabajos.html">Trabajos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="galeria.html">Galería</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre-mi.html">Biografía</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="contacto.html">Contacto<span class="sr-only">(current)</span></a>
                  </li>         
                </ul>
              
              </div>
          </nav>
    <div id="containerContacto">
        <div><h1>Contacto</h1></div>
        
        
        <section id="redes">
        
                <div><img class="imgContacto" src="../img/galeria-publi.jpg" alt="Foto Artista"></div> 
                <div>
                    <p class="presupuesto">Para presupuestos/consultas/proyectos:</p>
                    <p>Correo: <a href="mailto:milimergoni@gmail.com">milimergoni@gmail.com</a> </p>
                    <p>Instagram: <a href="https://www.instagram.com/milagrosmergoni/" target="_blank">@milagrosmergoni</a></p>
                    <p>Facebook: <a href="https://www.facebook.com/mergonimilagros" target="_blank">@mergonimilagros</a></p>
                </div>
        </section>
        
        <section id="formContainer">
            <form >
                <div>
                    <label  for="nombre">Nombre y Apellido:</label> 
                    <input type="text" id="nombre">
                </div>
            
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email">
                </div>
                <div>
                    <label for="celular">Celular</label>
                    <input type="number" id="celular">
                </div>
                
                <div class="mensaje">
                    <label for="Consulta">Escriba su mensaje</label>
                    <textarea id="Consulta"  name=""></textarea>
                </div>
        
                <div>
                    <label for="expo">Recibir novedades</label> 
                    <input type="checkbox" name="expo">
                </div>
         
                <div id="enviar-borrar">
                    <input class="botonFormulario" type="reset" value="Borrar">
                    <input class="botonFormulario" type="submit" value="Enviar">
                </div>
            </form>
        </section>
        
    </div>
    
    <section class="section-contacto-img">

    </section>
        
        <footer>
            <div>
                <p>Copyright 2020</p>
            </div>
            <div>
                <p>Buenos Aires, Argentina</p>
            </div>
            <div id="footer-icons">
                <p>Seguime en Redes Sociales!</p>
                <a class="icons" href="https://www.instagram.com/milagrosmergoni/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a class="icons" href="https://www.facebook.com/mergonimilagros" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
        </body>