<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Milagros Mergoni (24 años) es una artista residente en Argentina. Sus obras están inspiradas en la naturaleza, viajes y personas, utilizando la técnica del óleo sobre tela, como así también la de ilustración sobre papel. ">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../sass/style.css">
    <script src="https://kit.fontawesome.com/2e758ba94a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
    <title>Galería - Milagros Mergoni Arte</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html"><img src="../img/logo3-04.png" class="img-fluid" width="240px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="trabajos.html">Trabajos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="galeria.html">Galería</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre-mi.html">Biografía</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>         
            </ul>
          
          </div>
      </nav>
    <div id="galFlex">

        <div> <h1>Galería</h1> </div>

        <section class="containerGaleria">
            <div class="hover-gal">
                <img src="../img/galeria-adan.jpg" alt="Oleo sobre papel">
                <div class="overlay" >
                    <div class="gal-text">Creación de Adán <br>35x50 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-rafa.jpg" alt="Flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Flores otoñales <br>35x50 cm</div>
                </div>
            </div>
             <div class="hover-gal">
                <img src="../img/galeria-monta.jpg" alt="Flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Flores Tierra <br>25x35 cm
                    </div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-sanmar.jpg" alt="flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Flores Primavera <br>50x70 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-mujer.jpg" alt="mujer al óleo">
                <div class="overlay" >
                    <div class="gal-text">Musa <br>50x70 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-michel.jpg" alt="michelángelo">
                <div class="overlay" >
                    <div class="gal-text">Creación de Adán</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-flores.jpg" alt="Flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Flores Tierra <br> 25x35 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/dona-ninna.jpg" alt="italia pintura al óleo">
                <div class="overlay" >
                    <div class="gal-text">Donna Nina <br>Italia <br> 15x21 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-nayla-vison.jpg" alt="Retratos de mascotas">
                <div class="overlay" >
                    <div class="gal-text">Nayla - Retratos de mascotas</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-oleoflor.jpg" alt="Flores al óleo">
                <div class="overlay" >
                    <div class="gal-text">Flores Pastel <br>25x35 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-orange2.jpg" alt="Flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Atardecer <br> 50x70 cm</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-otono2.jpg" alt="Flores abstractas">
                <div class="overlay" >
                    <div class="gal-text">Dúo otoñal</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-pati2.jpg" alt="Retratos de mascotas">
                <div class="overlay" >
                    <div class="gal-text">Pati - Retratos de mascotas</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-patynayla.jpg" alt="">
                <div class="overlay" >
                    <div class="gal-text">Pati y Nayla - Retratos de mascotas</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-pop.jpg" alt="Flores">
                <div class="overlay" >
                    <div class="gal-text">Flores Pop</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-publi.jpg" alt="Flores al óleo">
                <div class="overlay" >
                    <div class="gal-text">Flores Abstractas <br>Pintura al óleo</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-bosque.jpg" alt="Bosque pintura">
                <div class="overlay" >
                    <div class="gal-text">Bosque abstracto</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/before-sunset-marco.jpg" alt="Antes del amanecer">
                <div class="overlay" >
                    <div class="gal-text">Before sunrise</div>
                </div>
            </div>
            <div class="hover-gal">
                <img src="../img/galeria-vang.jpg" alt="Flores al óleo">
                <div class="overlay" >
                    <div class="gal-text">Dúo abstracto</div>
                </div>
            </div>
                
        </section>
      </div>
    <footer>
        <div>
            <p>Copyright 2020</p>
        </div>
        <div>
            <p>Buenos Aires, Argentina</p>
        </div>
        <div id="footer-icons">
            <p>Seguime en Redes Sociales!</p>
            <a class="icons" href="https://www.instagram.com/milagrosmergoni/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a class="icons" href="https://www.facebook.com/mergonimilagros" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>


    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </body>